@import "colors.css";

* {
    color: @brightWhite;
    font-family: "Iosevka Nerd Font";
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#workspaces {
    background: @background;
    margin: 5px 5px 5px 5px;
    padding: 4px 1px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 12px;
    background-color: @white;
    transition: all 0.3s ease-in-out;
    opacity:0.4;
}

#workspaces button.active {
    background-color: @white;
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    background-color: @brightWhite;
    color: #cdd6f4;
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
}

#custom-arch,
#disk,
#cpu,
#memory {
    color: @background;
}

#custom-arch {
    font-size: 25;
    color: @brightWhite;
}

#disk,
#cpu,
#memory {
    color: @brightWhite;
    padding: 1px;
}

#clock,
#battery,
#temperature,
#network,
#wireplumber,
#custom-pacman {
    padding: 5px 8px;
    border-style: solid;
    background-color: @background;
    opacity: 1;
    margin: 8px 0;
}

#clock {
    color: @brightWhite;
    border-radius: 10px;
    margin: 8px 10px;
}

#wireplumber {
    color: @brightWhite;
    border-radius: 10px 0 0 10px;
}

#wireplumber.muted {
    color: @brightRed;
}

#battery {
    color: @brightWhite;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}

#battery.charging {
    color: @green;
}

@keyframes blink {
    to {
        color: @brightRed;
    }
}

#battery.warning:not(.charging) {
    color: @yellow;
    /* border-bottom: 2px solid #81a1c1; */
}


#battery.critical:not(.charging) {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disabled {
    color: #bf616a;
}

#network {
    border-radius: 10px;
    margin-right: 5px;
}

#network.disconnected {
    color: @on_error;
}
