@import "colors.css";

* {
    color: @brightWhite;
    font-family: "Iosevka Nerd Font";
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#workspaces {
    background: @background;
    color: @brightWhite;
    border-radius: 10px;
    margin: 8px 10px;
    padding: 0 5px 0 0;
}

#workspaces button {
    background-color: transparent;
    color: @brightWhite;
}


#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border: transparent;
}

#custom-logo,
#disk,
#cpu,
#memory {
    color: @background;
}

#custom-logo {
    font-size: 25;
    color: @brightWhite;
}

#disk,
#cpu,
#memory {
    color: @brightWhite;
    padding: 0 1px;
}

#clock,
#battery,
#temperature,
#network,
#wireplumber {
    padding: 0 8px;
    border-style: solid;
    background-color: @background;
    margin: 8px 0;
}

#clock {
    color: @brightWhite;
    border-radius: 10px;
    margin: 8px 10px;
}

#wireplumber {
    color: @brightWhite;
    border-radius: 10px 0 0 10px;
    padding: 0 5px 0 8px;
}

#wireplumber.muted {
    color: @brightRed;
}

#battery {
    color: @brightWhite;
    border-radius: 0 10px 10px 0;
    margin-right: 5px;
    padding: 0 8px 0 5px;
}

#battery.charging {
    color: @green;
}

@keyframes blink {
    to {
        color: @brightRed;
    }
}

#battery.warning:not(.charging) {
    color: @yellow;
}


#battery.critical:not(.charging) {
    color: #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    border-radius: 10px;
    margin: 8px 10px 8px 5px;
}

#network.disabled {
    color: @brightRed;
}

#network.disconnected {
    color: @brightRed;
}
